/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import './base.css';

#app {
  max-width: 1440px;
  margin: 0 auto;
  font-weight: normal;
  background-color: #0C4A6E;
}